.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

blockquote.testimonial {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 150px;
  padding: 0;
  background-color: var(--light-blue);
  border-radius: 10px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: rem-calc(19);
  font-style: normal;
  font-weight: 500;
}
blockquote.testimonial cite {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  order: -1;
  margin-bottom: 60px;
}
blockquote.testimonial cite div {
  flex-grow: 1;
  max-width: 500px;
}
blockquote.testimonial cite div > * {
  font-size: rem-calc(14);
  font-weight: 600;
  margin: 0;
}
blockquote.testimonial cite div > *:first-child {
  color: var(--navy);
  font-size: rem-calc(16);
}
blockquote.testimonial .testimonial__content {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 40px 15px;
}
blockquote.testimonial .testimonial__content .gb-button-link {
  font-size: rem-calc(16);
  font-weight: 500;
  color: var(--navy);
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
}
blockquote.testimonial .testimonial__content p:last-of-type {
  margin-bottom: 0;
}
blockquote.testimonial .testimonial__image {
  flex: 0 0 72px;
}
blockquote.testimonial .testimonial__image img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
blockquote.testimonial .testimonial__logo {
  background-color: white;
  display: grid;
  place-content: center;
  border-radius: 0 0 10px 10px;
  padding: var(--spacing-sm);
}
blockquote.testimonial .testimonial__logo img {
  max-height: calc(150px - var(--spacing-sm) * 2);
  height: auto;
  width: auto;
}

.testimonial-modal .modal-content {
  --bs-modal-bg: transparent;
}
.testimonial-modal .modal-body {
  padding: 0;
}

.wp-block-acf-testimonials.acf-block-preview {
  min-height: 100px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wp-block-acf-testimonials {
  position: relative;
  --splide-arrow-offset: 20px;
  margin-inline: auto;
  overflow: hidden;
}
@media (min-width: 576px) {
  .wp-block-acf-testimonials {
    --splide-arrow-offset: 3rem;
  }
}
@media (min-width: 1200px) {
  .wp-block-acf-testimonials {
    --splide-arrow-offset: 6rem;
  }
}
.wp-block-acf-testimonials .splide:not(.is-overflow) {
  --splide-arrow-offset: 0;
}
.wp-block-acf-testimonials .splide-container {
  overflow: hidden;
  max-width: 100%;
}
.wp-block-acf-testimonials .splide {
  max-width: 100%;
  overflow: hidden;
}
.wp-block-acf-testimonials .splide__track {
  margin-inline: auto;
  width: min(var(--content-width), 100% - 2 * var(--gutter));
  overflow: hidden;
}
@media (min-width: 576px) {
  .wp-block-acf-testimonials .splide__track {
    width: min(100% - 2 * var(--splide-arrow-offset), 100% - 2 * var(--gutter));
  }
}
.wp-block-acf-testimonials .splide__slide {
  padding: 0.5rem !important;
}
.wp-block-acf-testimonials .splide__slide::before {
  display: none !important;
}
.wp-block-acf-testimonials .splide__pagination {
  margin-top: 24px;
}
.wp-block-acf-testimonials .splide__pagination li {
  padding: 10px;
}
.wp-block-acf-testimonials .splide__pagination li:before {
  display: none;
}
.wp-block-acf-testimonials .splide__pagination button {
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 0;
}
.wp-block-acf-testimonials .splide__pagination button:hover, .wp-block-acf-testimonials .splide__pagination button.is-active {
  background-color: var(--primary);
}
@media (min-width: 576px) {
  .wp-block-acf-testimonials .splide__arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 15px);
  }
}
.wp-block-acf-testimonials .splide__arrow {
  padding: 0;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.wp-block-acf-testimonials .splide__arrow svg {
  width: 50%;
  height: 50%;
}
@media (min-width: 1200px) {
  .wp-block-acf-testimonials .splide__arrow {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 575.98px) {
  .wp-block-acf-testimonials .splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.wp-block-acf-testimonials .splide__arrow--prev svg {
  transform: scaleX(-1);
}
@media (max-width: 575.98px) {
  .wp-block-acf-testimonials .splide__arrow--prev {
    left: 20px;
  }
}
@media (max-width: 575.98px) {
  .wp-block-acf-testimonials .splide__arrow--next {
    right: 20px;
  }
}
.wp-block-acf-testimonials blockquote {
  height: 100%;
}

.wp-block-acf-testimonials.wp-block-acf-testimonials.acf-block-preview {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-acf-testimonials.wp-block-acf-testimonials.acf-block-preview .splide__list {
  list-style-type: none;
  margin-inline: auto;
  padding: 0;
}
.wp-block-acf-testimonials.wp-block-acf-testimonials.acf-block-preview:not(.is-selected) .splide__slide:not(:first-child) {
  display: none;
}

/*# sourceMappingURL=style.css.map*/