.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.wp-block-acf-find-a-course.acf-block-preview {
  min-height: 100px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wp-block-acf-find-a-course .filters {
  margin-inline: auto;
}
.wp-block-acf-find-a-course .filters .fwp-submit {
  background-color: var(--action);
}
.wp-block-acf-find-a-course .filters .fwp-submit:hover {
  background-color: var(--accent);
}
@media (max-width: 991.98px) {
  .wp-block-acf-find-a-course .filters > div:not(.facetwp-submit) {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 18px;
  }
  .wp-block-acf-find-a-course .filters > div:not(.facetwp-submit)::after {
    right: 18px;
  }
  .wp-block-acf-find-a-course .filters > div:not(.facetwp-submit) .facetwp-dropdown {
    padding-right: 2ch;
  }
  .wp-block-acf-find-a-course .filters .fwp-submit {
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  .wp-block-acf-find-a-course .filters {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 0 18px;
    max-width: 780px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .wp-block-acf-find-a-course .filters > div:not(.facetwp-submit) {
    margin-bottom: 0;
    flex: 0 1 auto;
    padding: 11px 0 11px 0;
  }
  .wp-block-acf-find-a-course .filters .facetwp-dropdown {
    padding: 0;
    padding-right: 3ch;
  }
  .wp-block-acf-find-a-course .filters .facetwp-facet-product_course_category {
    width: 16ch;
  }
  .wp-block-acf-find-a-course .filters .facetwp-facet-product_course {
    width: 14ch;
  }
  .wp-block-acf-find-a-course .filters .facetwp-facet-product_course_mode {
    width: 19ch;
  }
  .wp-block-acf-find-a-course .filters .fwp-submit span {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .wp-block-acf-find-a-course .filters .fwp-submit span:not(caption) {
    position: absolute !important;
  }
}
.wp-block-acf-find-a-course .course-view {
  margin-top: 75px;
}

.find-a-course {
  position: relative;
}
.find-a-course img {
  position: relative;
}
.find-a-course::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #FDFCFA 0.27%, rgba(255, 255, 255, 0) 87.51%);
}
.find-a-course .view-all {
  display: none;
}
.find-a-course .wp-block-acf-find-a-course.facetwp-visible + .view-all {
  display: block;
}
.find-a-course .facetwp-facet {
  margin-top: 12px;
  margin-bottom: 12px;
}

/*# sourceMappingURL=style.css.map*/