.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.wp-block-acf-clients.acf-block-preview {
  min-height: 100px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wp-block-acf-clients {
  margin-inline: auto;
}
.wp-block-acf-clients .splide {
  padding-inline: 35px;
}
@media (min-width: 768px) {
  .wp-block-acf-clients .splide {
    padding-inline: 70px;
  }
}
.wp-block-acf-clients .splide__track {
  max-width: 1072px;
  margin-inline: auto;
}
.wp-block-acf-clients .splide__list {
  align-items: stretch;
}
.wp-block-acf-clients .splide__slide {
  padding: 0 !important;
}
.wp-block-acf-clients .splide__slide:before {
  display: none !important;
}
.wp-block-acf-clients .splide__pagination {
  margin-top: 24px;
}
.wp-block-acf-clients .splide__pagination li {
  padding: 10px;
}
.wp-block-acf-clients .splide__pagination li:before {
  display: none;
}
.wp-block-acf-clients .splide__pagination button {
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 0;
}
.wp-block-acf-clients .splide__pagination button:hover, .wp-block-acf-clients .splide__pagination button.is-active {
  background-color: var(--primary);
}
.wp-block-acf-clients .splide__arrow {
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.wp-block-acf-clients .splide__arrow svg {
  width: 50%;
  height: 50%;
}
@media (min-width: 992px) {
  .wp-block-acf-clients .splide__arrow {
    margin-top: -30px;
  }
}
@media (min-width: 1200px) {
  .wp-block-acf-clients .splide__arrow {
    width: 70px;
    height: 70px;
  }
}
.wp-block-acf-clients .splide__arrow--prev {
  left: -15px;
}
.wp-block-acf-clients .splide__arrow--prev svg {
  transform: scaleX(-1);
}
.wp-block-acf-clients .splide__arrow--next {
  right: -15px;
}

.wp-block-acf-clients {
  max-width: 1340px;
}
.wp-block-acf-clients .splide__track {
  max-width: 980px;
}
.wp-block-acf-clients .splide:not(.is-overflow) .splide__arrows {
  display: none;
}
.wp-block-acf-clients .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wp-block-acf-clients .logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 120px;
}

.wp-block-acf-clients.wp-block-acf-clients.acf-block-preview {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-acf-clients.wp-block-acf-clients.acf-block-preview .splide__list {
  list-style-type: none;
  margin-inline: auto;
  padding: 0;
}
.wp-block-acf-clients.wp-block-acf-clients.acf-block-preview:not(.is-selected) .splide__slide:not(:first-child) {
  display: none;
}

/*# sourceMappingURL=style.css.map*/