// Button

:root {
    --btn-padding-block: 10px;
    --btn-padding-inline: 20px;
    --btn-line-height: 1.66666667;
    --btn-font-size: #{rem-calc(20)};
    --btn-font-weight: 700;
    --btn-font-style: normal;
    --btn-text-decoration: none;
    --btn-text-transform: uppercase;
    --btn-letter-spacing: 1.02px;
    --btn-border-width: 0;
    --btn-border-style: none;
    --btn-border-radius: 8px;
    --btn-border-color: none;
}


.gb-button {
    @include gb-button;
}


.gb-button[class*="icon"] {
	
    --btn-font-size: inherit;
	--btn-padding-block: 0;
    --btn-padding-inline: 0;
    --btn-border-radius: 0;
    min-width: none;

}

// Primary
.gb-button {
	
    --btn-background: var(--action);
    --btn-text-color: white;
    min-width: 186px;

	&:hover {
		--btn-background-hover: var(--accent);
        --btn-text-color-hover: white;
	}
}

.gb-button-sky {
    @include gb-button-sky;
}

.gb-button-sky-alt {
    @include gb-button-sky-alt;
}

.gb-button-navy {
    @include gb-button-navy;
}

.gb-button-navy-alt {
    @include gb-button-navy-alt;
}

.gb-button-link {
    display: inline-flex;
    font-size: rem-calc(14);
    font-style: normal;
    font-weight: 700;
    line-height: 192.857%;
    letter-spacing: 0.335px;
    position: relative;
    text-decoration: none;

    color: var(--primary);

    &:has(span) {
        padding-right: 15px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        color: var(--green);
    }

    &:hover {
        color: var(--secondary);
    }
}

.gb-social-icon {
    background-color: #0c0033;
}