// Styles
@import "assets/styles/block";

.wp-block-acf-team.acf-block-preview {
    min-height: 100px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wp-block-acf-team {

    .flex-grid {

        &__item {
            margin-bottom: 65px;
            position: relative;

            @include media-breakpoint-up(lg) {
                margin-bottom: 65px;
            }

            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: rem-calc(19);
                font-weight: 700;
                //color: $heading;
                padding-right: 42px;
            }


        }

        .link-cover {
            @include link-cover();
        }

        &__thumbnail {
            position: relative;

            img {
                display: block;
                object-fit: cover;
                object-position: center top;
                aspect-ratio: 1/1;
            }

            span {
                display: block;
                background-color: var(--charcoal);
                position: absolute;
                padding: 1rem;
                bottom: 0;
                right: 0;

                &:before {
                    content: '';
                    color: $white;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: normal;
                    content: "\002B";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

        &__text {
            a {

                &:before {
                    cursor: pointer;
                }

                
            }
        }
    }

    .credentials {
        color: var(--charcoal);
        font-size: rem-calc(15);
    }

    .text {
        margin-top: 30px;
    }

    .modal-header {
        padding: var(--spacing-md);
    }

    .modal-body {
        padding: var(--spacing-md);
        padding-top: 0;
    }

}