// Styles
@import "assets/styles/block";

.wp-block-acf-team.acf-block-preview {
    min-height: 100px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wp-block-acf-team {
    .flex-grid {
        &__item {
            margin-bottom: 65px;
            position: relative;

            @include media-breakpoint-up(lg) {
                margin-bottom: 65px;
            }
        }

        img {
            display: block;
            object-fit: cover;
            object-position: center top;
            aspect-ratio: 1/1;
            margin-bottom: 0;
        }

        .item {
            background-color: var(--navy);

            &__details {
                padding: 24px;

                h3 {
                    color: white;
                    margin-bottom: 8px;
                }
            }

            &__position {
                color: var(--sky-blue);
                font-weight: 500;
                letter-spacing: 0.335px;
            }
        }

        .link-cover {
            @include link-cover();
        }
    }

    .modal-header {
        padding: var(--spacing-sm);
    }

    .modal-body {
        padding: var(--spacing-sm);
        padding-top: 0;

        .team-item {
            background-color: var(--navy);

            img {
                display: block;
                object-fit: cover;
                object-position: center top;
                aspect-ratio: 1/1;
                margin-bottom: 0;
            }

            &__details {
                padding: 24px;

                h4 {
                    color: white;
                    margin-bottom: 8px;
                }
            }

            &__position {
                color: var(--sky-blue);
                font-weight: 500;
                letter-spacing: 0.335px;
            }
        }
    }
}
