.wp-block-acf-logos.acf-block-preview {
    min-height: 200px !important;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
