// Styles
@use "assets/styles/block" as *;

.wp-block-acf-find-a-course.acf-block-preview {
    min-height: 100px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wp-block-acf-find-a-course .courses {
    display: none;
}
.wp-block-acf-find-a-course.facetwp-visible .courses {
    display: block;
}

.wp-block-acf-find-a-course {
    position: relative;
    background-color: var(--off-white);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-top: 32%; // This should match your image's aspect ratio (height/width * 100)
        background: linear-gradient(
                180deg,
                #fdfcfa 0.27%,
                hsla(0, 0%, 100%, 0) 87.51%
            ),
            url("images/course-lines.png");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .wave {
        position: relative;
        z-index: 2;
        //margin-top: -50px; // Overlap with title section if needed

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .wrapper {
        position: relative;
        z-index: 2;
    }

    .wrapper {
        h2 {
            text-align: center;
        }
    }

    .filters-wrapper {
        text-align: center;
    }

    .filters {
        margin-inline: auto;

        .facetwp-label {
            @include visually-hidden;
        }

        .fwp-submit {
            background-color: var(--action);

            &:hover {
                background-color: var(--accent);
            }
        }

        @include media-breakpoint-down(lg) {
            > div:not(.facetwp-submit) {
                border-radius: 8px;
                background: #fff;
                box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 18px;

                &::after {
                    right: 18px;
                }

                .facetwp-dropdown {
                    padding-left: 18px;
                    padding-right: 18px;
                }
            }

            .fwp-submit {
                border-radius: 8px;
            }
        }
        @include media-breakpoint-up(lg) {
            display: inline-flex;
            justify-content: space-between;
            gap: 18px;
            max-width: 780px;

            border-radius: 8px;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);

            > div:not(.facetwp-submit) {
                margin-bottom: 0;
                flex: 0 1 auto;
                margin-top: 0;
            }

            .facetwp-dropdown {
                padding-left: 3ch;
                padding-right: 3ch;
            }

            .facetwp-facet-product_course {
                // width: 19ch;
            }

            .fwp-submit span {
                @include visually-hidden;
            }
        }
    }

    .course-view {
        margin-top: 75px;
    }
}

.wp-block-acf-find-a-course {
    .view-all {
        display: none;
    }

    .wp-block-acf-find-a-course.facetwp-visible .view-all {
        display: block;
        margin-top: 60px;
    }
}
