// Styles
@use "assets/styles/block" as *;

.wp-block-acf-find-a-course.acf-block-preview {
    min-height: 100px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wp-block-acf-find-a-course .courses {
    display: none;
}
.wp-block-acf-find-a-course.facetwp-visible .courses {
    display: block;
}

.wp-block-acf-find-a-course {
    .filters-wrapper {
        text-align: center;
    }

    .filters {
        margin-inline: auto;

        .facetwp-label {
            @include visually-hidden;
        }

        .fwp-submit {
            background-color: var(--action);

            &:hover {
                background-color: var(--accent);
            }
        }

        @include media-breakpoint-down(lg) {
            > div:not(.facetwp-submit) {
                border-radius: 8px;
                background: #fff;
                box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 18px;

                &::after {
                    right: 18px;
                }

                .facetwp-dropdown {
                    padding-right: 2ch;
                }
            }

            .fwp-submit {
                border-radius: 8px;
            }
        }
        @include media-breakpoint-up(lg) {
            display: inline-flex;
            justify-content: space-between;
            gap: 18px;
            padding: 0 18px;
            max-width: 780px;

            border-radius: 8px;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);

            > div:not(.facetwp-submit) {
                margin-bottom: 0;
                flex: 0 1 auto;
                padding: 11px 0 11px 0;
                margin-top: 0;
            }

            .facetwp-dropdown {
                padding: 0;
                padding-right: 3ch;
            }

            .facetwp-facet-product_course_category {
                width: 16ch;
            }

            .facetwp-facet-product_course {
                width: 19ch;
            }

            .facetwp-facet-product_course_mode_select {
                width: 19ch;
            }

            .fwp-submit span {
                @include visually-hidden;
            }
        }
    }

    .course-view {
        margin-top: 75px;
    }
}

.find-a-course {
    position: relative;

    img {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            180deg,
            #fdfcfa 0.27%,
            rgba(255, 255, 255, 0) 87.51%
        );
    }

    .view-all {
        display: none;
    }

    .wp-block-acf-find-a-course.facetwp-visible + .view-all {
        display: block;
    }

    .facetwp-facet {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
