// Editor Style

@import 'bootstrap';

@import 'base';

// Functions
@import 'utilities/functions';
// Mixins
@import 'utilities/mixins';

@import "patterns";
@import "components/button-group";
@import "elements/button";
@import "elements/image";
@import "elements/list";

.site-footer {

	background-color: var(--primary);

	.footer-grid {

		margin-inline: auto;
		width: min( var(--content-width), 100%);

		@include media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--gutter);
		}
	}

	.site-info {
		background-color: inherit;

		color: white;
	}
}