// Testimonials Archive

.post-type-archive-testimonial {
    .facetwp-template {
        display: grid;
        column-gap: 17px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .facetwp-facet-testimonial_category {
        .fs-checkbox {
            top: 0.188em !important;
        }

        .fs-dropdown .fs-options {
            max-height: none !important;
        }
    }

    .facetwp-type-pager {
        text-align: center;
    }

    .facetwp-load-more {
        @include gb-button;
        @include gb-button-navy-alt;
    }

    blockquote {
        margin-bottom: 30px;
    }
}

.testimonial {
    .testimonial__content {
        p {
            @include media-breakpoint-down(sm) {
                line-height: 1.15;
            }
        }
    }
}
