// Post

.single-post {
    --content-width: 754px;

    .site-content {
        padding-top: 90px;
    }

    .posted-on {
        font-size: rem-calc(18);
        font-weight: 600;
        margin-block: 20px 0;
    }

    .entry-content {
        width: min(var(--content-width), 100% - 2 * var(--gutter));
        margin-inline: auto;

        figure {
            margin-top: 40px;
            margin-bottom: 30px;
            text-align: center;

            figcaption {
                margin-top: 12px;
                color: #6f6f6f;
                font-size: rem-calc(14);
            }
        }

        figure + span[style*="6f6f6f"] {
            margin-top: -12px !important;
        }

        p[style*="6f6f6f"] {
            margin-top: -12px !important;
        }

        span[style*="b7b7b7"] {
            font-size: var(--h4);
        }
    }

    .cat-links {
        display: none;
    }

    footer.entry-meta {
        width: min(var(--content-width), 100% - 2 * var(--gutter));
        margin-block: 90px 0;
        margin-inline: auto;
    }

    .post-navigation {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        gap: 30px;

        a {
            font-size: rem-calc(18);
            text-decoration: none;

            .gp-icon {
                margin: 0;
            }

            span {
                padding-inline: 10px;
            }
        }

        .nav-next {
            text-align: right;
        }
    }

    .related-posts {
        --content-width: 1024px;
        width: min(var(--content-width), 100% - 2 * var(--gutter));
        margin-block: 90px 0;
        margin-inline: auto;

        .grid {
            margin-top: 60px;

            @include media-breakpoint-up(md) {
                @include block-grid(2, 18px);
            }

            @include media-breakpoint-up(lg) {
                @include block-grid(3, 18px);
            }

            > * {
                margin-bottom: 90px;
            }
        }

        .post-content {
            display: flex;
            flex-direction: column;

            .link-container {
                margin-top: auto;
            }
        }
    }
}
