// Base Single Product Styles
.single-product {
    .site-content {
        padding-top: var(--spacing-lg) !important;

        &:has(.wp-block-acf-product-hero) {
            padding-top: 0 !important;
        }
    }

    .entry-content {
        > *:not(.alignfull):not(.alignwide):not(.alignfeatured):not(
                .alignnarrow
            ) {
            width: min(var(--content-width), 100% - 2 * var(--gutter));
            margin-inline: auto;
        }
    }

    // Form Styles
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        > * {
            margin-bottom: 0;
        }

        a,
        .qty {
            min-height: 44px !important;
            height: 44px !important;
            border: none !important;
            width: 45px !important;
        }

        a {
            font-size: 20px;
            font-weight: 700;
        }

        .quantity {
            background-color: #d9d9d9 !important;
            border-radius: 8px;
            gap: 1px;
        }

        .qty {
            font-weight: 900;
            max-width: 100% !important;
            min-height: 0 !important;
            border-left: 1px solid var(--navy) !important;
            border-right: 1px solid var(--navy) !important;
        }
    }

    // Testimonials handling
    .wp-block-acf-testimonials {
        display: none;
    }

    .entry-content {
        &:has(.tab-pane.active .wp-block-acf-testimonials) {
            .tab-pane.active .wp-block-acf-testimonials {
                display: block;
            }
        }

        &:not(:has(.tab-pane.active .wp-block-acf-testimonials)) {
            .wp-block-acf-testimonials:not(
                    .tab-pane .wp-block-acf-testimonials
                ) {
                display: block;
            }
        }
    }

    // Additional product information
    .external-product-url-description {
        padding-top: var(--spacing-xs);
        text-align: center;
    }

    .host-course {
        text-align: center;

        a {
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 0.335px;
        }
    }

    .vs-add-to-cart {
        .cart {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }
}

// Specific Course Type Styles
.single-product--has-course-type {
    .cart {
        text-align: center;
    }

    .product-details {
        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: auto 414px;
            gap: var(--gutter-xl);
        }

        @include media-breakpoint-up(xxl) {
            margin-top: calc(var(--gutter) * -1);
            position: relative;
            z-index: 9;

            h1 {
                max-width: 70%;
            }
        }
    }

    .course-description {
        background-color: var(--navy);
        padding: 28px;
        margin-bottom: var(--spacing-lg);
        position: relative;
        z-index: 3;

        //height: 100%;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            top: -100px;
            //height: calc(100% + 100px);
        }

        @include media-breakpoint-up(xl) {
            top: -130px;
            //height: calc(100% + 130px);
        }

        &__header {
            h3 {
                margin-top: 0 !important;
                margin-bottom: var(--spacing-sm) !important;
            }

            h4 {
                margin-top: var(--spacing-xs) !important;
                margin-bottom: 0 !important;
            }

            .course-serial-number {
                margin-top: var(--spacing-xxs) !important;
                font-size: var(--h6);
            }

            margin-bottom: var(--spacing-md);
        }

        &__details {
            @include media-breakpoint-up(md) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--gutter-md);
            }
        }

        // Typography styles
        h3 {
            color: white;
            margin: 3rem 0 1.5em;
        }

        h4 {
            color: var(--sky-dark);
            margin-bottom: var(--spacing-md);
        }

        h5 {
            color: var(--sky-dark);
            font-weight: 700;
            font-size: 0.75rem;
            margin-bottom: 0.125em;
            letter-spacing: var(-text-letter-spacing);
        }

        // Content styles
        ul {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: var(--spacing-sm);

            li {
                margin-left: 0;
                padding-left: 0 !important;

                &::before {
                    display: none !important;
                }
            }
        }

        p {
            margin-bottom: var(--spacing-sm);
        }

        p,
        li {
            color: white;
            font-size: 0.75rem;
            letter-spacing: 0.335px;
            margin-bottom: var(--spacing-sm);
        }

        .cohort {
            li {
                margin-bottom: 0 !important;
            }
        }

        .live-sessions {
            margin-bottom: var(--spacing-sm);
        }

        .live-sessions li {
            font-weight: 500;
        }

        a:not([class]) {
            text-decoration: none;
        }
        .link-arrow {
            color: var(--sky-dark);
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 0.335px;
        }

        .full-course-details,
        .time-zone {
            text-align: center;
        }

        .cart {
            margin-bottom: var(--spacing-sm);
        }

        .time-zone {
            // margin-top: var(--spacing-md);
        }
    }

    .product-footer-add-to-cart {
        width: min(var(--content-width), 100% - 2 * var(--gutter));
        margin-inline: auto;
        margin-block: var(--spacing-xl);

        @include media-breakpoint-down(sm) {
            position: sticky;
            bottom: 0;
            z-index: 99;
            margin-block: var(--spacing-md);
            padding-bottom: var(--spacing-sm);

            .gb-button {
                flex: 1;
            }
        }
    }
}

// Non-course type specific styles
.single-product:not(.single-product--has-course-type) {
    .posted_in {
        display: none;
    }

    form {
        justify-content: flex-start;
    }

    .cart::before,
    .cart::after {
        content: none !important;
    }

    .vs-add-to-cart {
        display: none !important;
    }
}

// Shared button styles
.single-product:not(.single-product--has-course-type),
.vs-add-to-cart {
    .gb-button {
        width: auto !important;
    }
}

.viristar-product-course-message {
    padding: var(--spacing-md);
    background-color: var(--green);
    color: white;

    text-align: center;

    line-height: 1.2;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(21);
    }

    a {
        color: white;

        &:hover {
            color: white;
        }
    }
}
