// Post

.single-white_paper {
    article {
        max-width: 790px;
        margin: 0 auto;

        padding-top: 40px;
        padding-bottom: 90px;

        .featured-image {
            margin: 0 auto!important;

            img {
                width: 100%;
            }
        }
    }

    .entry-header {

        display: flex;
        flex-direction: column;

        h3 {
            color: #252B33;
            font-size: rem-calc(24);
            margin-bottom: 15px;
            order: -1;
        }

        .download {
            margin-top: 15px;
        }

        .download-pdf {
            border: 2px solid $violet;
            color: $violet;

            &:hover,
            &:focus {
                background-color: $violet;
                color: $white;
            }
        }
    }

    .hide {
        display: none;
    }

    .download-pdf {
        display: inline-flex;
        align-items: center;
        column-gap: 0.5em;
        font-size: 0.875rem;
        line-height: 1.5;
        border: 1px solid;
        justify-content: center;
        min-width: 136px;
        padding: 11px 15px;
        border-radius: 50px;
        text-decoration: none;
    }

    #download {
        .download-pdf {
            border: 2px solid $white;
            color: $white;

            &:hover,
            &:focus {
                background-color: $white;
                color: $violet;
            }
        }
    }

    .inside-article {
        .grid {
            @include breakpoint(medium-large) {
                display: grid;
                grid-template-columns: auto 284px;
                gap: 48px;
            }
        }
    }

    .featured-image {
        margin: 40px auto 0 !important;
    }

    .solution-links {
        display: none;
    }

   

}