// Case Studies

.post-type-archive-white_paper,
.tax-white_paper_solution {

    .page-header-category {
        h3 {
            color: $violet;
            font-size: rem-calc(20);
            font-weight: 700;
            margin-bottom: 5px;
            order: -1;
        }
    }
    
    .page-header {
        div {
            display: flex;
            flex-direction: column;
        }

        h3 {
            color: $violet;
            font-size: rem-calc(20);
            font-weight: 700;
            margin-bottom: 5px;
            order: -1;
        }
    }

    .site-content {
        padding-top: 60px !important;
        padding-bottom: 60px !important;

        @include breakpoint(medium-large) {
            padding-top: 130px !important;
            padding-bottom: 130px !important;
        }
    }


    .site-main {
        .facetwp-template {
            
            width: 100%;

            @include breakpoint(medium) {
                @include block-grid(2, 20px);
            }

            @include breakpoint(medium-large) {
                @include block-grid(3, 20px);
            }

            > * {
                margin-bottom: 54px;
            }
        }
    }

    @include breakpoint(medium-large) { 
        .page-header {
            display: grid;
            grid-template-columns: auto 232px;
            gap: 30px;
        }
    }


    article {
        background-color: $white;
        padding-bottom: 0 !important;

        .post-content {
            display: flex;
            flex-direction: column;            
        }

        .post-image {
            order: -1;
            overflow: hidden;
            margin-bottom: 24px;
        }

        .entry-title {
            margin-bottom: 24px;
        }

        .entry-summary {
            @include visually-hidden;
        }

        footer {
            margin-top: 0;
        }

        .read-more {
            @include visually-hidden;
        }

        .post-categories {
            @include list-reset;

            

            li {
                display: inline-flex;
                margin-bottom: 10px;
                padding-right: 10px;
            }

            a {
                color: $violet;
                border-radius: 50px;
                padding: 5px 10px;
                border: 1px solid $violet;
                text-decoration: none;

                &:hover {
                    background-color: $violet; 
                    color: $white;
                }
            }
        }

    }



    .post-image {
        
    }

    header {
        .entry-meta {
            @include visually-hidden;
        }
    }

    footer {
        .comments-link {
            @include visually-hidden;
        }
    }

   
}