// Variables
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

// Fonts - clamp generator https://clamp-generator.netlify.app/

:root {

	--mobile-header-height: 50px;
    --wp-admin-bar-height: 0px;

	--viewport-width: calc(100vw - var(--scrollbarWidth));

	--image-border-radius: 15%;

	--max-width: 1600px;

	// Content
	--content-width: var(--container-width, 1260px); // --container-width is pulled from core/theme.php in </head> from the Customizer
	--content-narrow-width: 175px;
	--feature-width: 50px;
	--feature-max-width: 100px;

	--gutter-sm: 16px;
	--gutter-md: 32px;
	--gutter-lg: 64px;
	--gutter-xl: 80px;
	--gutter-xxl: 96px;

	--gutter: var(--gutter-md);


	--entry-header-margin-block: .5em;
	--entry-header-margin-inline: auto;
	--archive-header-margin-block: 0 .5em;
	--archive-header-margin-inline: auto;
}