// Testimonial

blockquote.testimonial {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px;
    padding: 0;
    background-color: var(--light-blue);
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);

    font-size: rem-calc(19);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;

    cite {
        margin-top: auto;
        max-width: 400px;
        padding-top: var(--spacing-md);

        > * {
            font-size: rem-calc(14);
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1.3;
            color: black !important;
        }

        > *:first-child {
            color: var(--navy);
            font-size: rem-calc(16);
            line-height: 1.25;
            margin-bottom: 8px;
        }
    }

    .testimonial__content {
        display: flex;
        flex-direction: column;
        padding: var(--gutter);

        p {
            color: black !important;
        }

        .gb-button-link {
            font-size: rem-calc(16);
            font-weight: 500;
            color: var(--navy);
            text-transform: capitalize;
            margin-top: 20px;
            cursor: pointer;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .testimonial__image {
        margin-bottom: var(--spacing-sm);
        img {
            border-radius: 50%;
            width: 120px;
            height: 120px;
            object-fit: cover;
            object-position: top;
            display: block;
            margin-inline: auto;
            border: 3px solid white;
        }
    }

    .testimonial__logo {
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding: var(--spacing-sm);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: auto;
            width: auto;
            max-height: 100%;
        }
    }

    .testimonial__logo-wrapper {
        max-height: 100px;
        max-width: 200px;
    }
}

.testimonial-modal {
    .modal-header {
        border: none;
    }

    .modal-content {
        --bs-modal-bg: transparent;
        border: none;
    }
    .modal-body {
        padding: 0;
    }

    blockquote {
        max-width: 100% !important;
    }
}
