// Footer

.site-footer {
    &__menus {
        width: min(1600px - var(--gutter) * 2, 100% - 2 * var(--gutter));
        max-width: 100%;
        margin-inline: auto;

        @include media-breakpoint-up(sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-md);

            align-content: space-around;
            justify-content: space-between;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
            gap: var(--spacing-lg);
        }

        @include media-breakpoint-up(xxl) {
            grid-template-columns: 1fr 1fr 2fr 1fr;
            gap: var(--spacing-lg);

            &-group {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: var(--spacing-lg);
            }
        }

        > .gb-container {
            // border-bottom: 0.5px solid rgba(#d7d5d5, 0.5);

            &:last-child {
                // margin-bottom: 0;
                // border-bottom: 0;
            }

            @include media-breakpoint-up(sm) {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }

        nav {
            @include media-breakpoint-down(sm) {
                border-bottom: 0.5px solid rgba(#d7d5d5, 0.5);

                margin-bottom: 32px;
                padding-bottom: 12px;
            }
        }
    }

    nav {
        ul {
            @include list-reset;
            margin-bottom: var(--spacing-sm);
        }

        li {
            margin-bottom: 12px;

            a {
                color: white;

                &:hover {
                    color: var(--sky-blue) !important;
                }
            }

            &.menu-item-user {
                a {
                    display: inline-flex;
                    align-items: center;
                    font-weight: 600;
                    line-height: 1.625;

                    svg {
                        order: -1;
                        margin-right: 5px;
                    }

                    &:hover {
                        color: var(--sky-blue) !important;
                    }
                }
            }

            &.link-title {
                a {
                    font-weight: 600;
                }
            }

            &.no-link a {
                pointer-events: none;
            }
        }

        a {
            color: inherit;
            font-size: inherit;

            &:hover {
                color: inherit;
            }
        }
    }

    .border-top {
        @include media-breakpoint-up(sm) {
            border-top: 0.5px solid rgba(#d7d5d5, 0.5);
        }
    }

    a {
        text-decoration: none;
    }

    &__grid {
        @include media-breakpoint-up(sm) {
            padding-top: 32px;
        }

        width: min(1600px - var(--gutter) * 2, 100% - 2 * var(--gutter));
        max-width: 100%;
        margin-inline: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: var(--spacing-md);
    }

    &__copyright {
        width: min(1600px - var(--gutter) * 2, 100% - 2 * var(--gutter));
        max-width: 100%;
        margin-block: var(--spacing-md) 0;
        margin-inline: auto;

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: var(--spacing-md);
        }
    }

    &__copyright-right {
        @include media-breakpoint-up(md) {
            margin-left: auto;
        }

        .wp-block-navigation {
            ul {
                flex-direction: column;
                align-items: flex-start;
            }

            @include media-breakpoint-up(sm) {
                ul {
                    flex-direction: row;
                }

                li:not(:first-child) {
                    &::before {
                        content: "|";
                        margin: 0 6px 0 2px;
                    }
                }
            }
        }
    }
}

.logged-in {
    .site-footer {
        nav li.menu-item-login {
            display: none;
        }
    }
}

body:not(.logged-in) {
    .site-footer {
        nav li.menu-item-logout {
            display: none;
        }
    }
}

.site-footer:has(.footer-wave) {
    //padding-top: var(--spacing-md);

    @include media-breakpoint-up(sm) {
        //padding-top: 0;
    }

    @media screen and (min-width: 1600px) {
        //margin-top: -4%;
    }
}

/* .site:has(.entry-content > .gb-container.bg--dark:last-child) + .site-footer .footer-wave,
.site:has(.entry-content > .gb-container.bg--ultra-dark:last-child) + .site-footer .footer-wave {
    display: none;
} */

.archive .site-main > *,
.entry-content > *:last-child > * {
    position: relative;
    //z-index: 9;
}

.site:has(.entry-content > .gb-container.bg--off-white:last-child)
    + .site-footer {
    background-color: var(--off-white);
}

.site:has(.entry-content > .gb-container.bg--dark:last-child) + .site-footer {
    background-color: var(--navy);
}
.site:has(.entry-content > .gb-container.bg--ultra-dark:last-child)
    + .site-footer {
    background-color: var(--dark-navy);
}
