// Menu

.main-navigation .main-nav ul {

    .menu-item-user {
        span {
            @include visually-hidden;
        }
    }
    .menu-item-button a {
        @include gb-button;

        --btn-background: var(--action);
        --btn-text-color: white;

        &:hover {
            --btn-background-hover: var(--accent);
            color: white!important;
        }
    }
}
