// Mobile Header

#mobile-menu-items {
    display: none;
}

.mobile-menu-open body {
    overflow: hidden;

    #mobile-menu-items {
        background-color: var(--dark-navy);
        position: fixed;
        display: block;
        top: 50px;
        right: 0;

        left: 0;
        height: calc(100% - 50px);
        max-height: calc(100% - 50px);
        overflow-y: auto;
        z-index: 99;
        padding-bottom: var(--spacing-sm);
    }
}

#mobile-header.toggled .main-nav > ul {
    display: flex !important;
}

#mobile-header {
    .inside-navigation {
        background-color: white;
    }

    .mobile-menu-search-form {
        display: none;
        background-color: white;
        padding: 16px var(--gutter);

        .search-form {
            display: flex;
            position: relative;
            margin-bottom: 0;

            button {
                padding: 0;
                background-color: transparent;
                margin-right: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 12px;
                color: var(--dark-navy);
            }

            label {
                width: 100%;
            }

            .search-field {
                border: 0;
                border: 1px solid var(--dark-navy);
                padding: 15px 15px 15px 36px;
                width: 100%;
                //color: white;
                //background-color: transparent;
            }

            ::placeholder {
                color: black;
            }
        }
    }

    &.toggled {
        .mobile-menu-search-form {
            display: block;
        }
    }

    .site-logo.mobile-header-logo {
        padding-block: 25px;
        img {
            height: 46px;
        }
    }

    .site-logo {
        margin-left: var(--gutter) !important;
    }

    //&.main-navigation .main-nav ul li a,
    &.main-navigation .menu-toggle, .main-navigation .menu-bar-items,
    //&.main-navigation .main-nav ul li a, 
    &.main-navigation .menu-toggle, 
    &.main-navigation .menu-bar-items {
        color: black;

        .icon-menu-bars {
            min-width: 32px;
        }
    }

    &.main-navigation .main-nav ul li a,
    &.main-navigation .main-nav ul li a {
        color: white;
    }

    .cart-contents > span.number-of-items {
        color: white;
    }

    #mobile-menu {
        &.main-nav {
            background-color: var(--dark-navy);
        }

        li {
            a:not(.gb-button) {
                padding-left: var(--gutter);
            }

            &:not(.menu-item-button) a {
                padding-block: 5px;
            }
        }

        li.menu-item-button {
            a {
                background-color: var(--sky-dark);
                border-radius: 0;
                color: white;
                text-align: left;
                line-height: 60px;
                display: block;
                padding-block: 0;
                width: 100%;
            }
        }

        .sub-menu {
            background-color: var(--navy);

            li {
                a {
                    color: white;
                    line-height: 40px;
                }
            }

            .sub-menu {
                background-color: var(--dark-navy);
            }
        }

        .menu-block-content {
            padding-block: 15px;
            padding-inline: var(--gutter);

            h3 {
                color: white;
            }

            p {
                color: white;
            }

            .gb-social-icon {
                padding: 0 !important;
            }
        }
    }
}
