// Page

body:not(.full-width-content) {
    &.page,
    &.single {
        header.entry-header {
            width: min(var(--content-width), 100% - 2 * var(--gutter));
            margin-inline: auto;
        }
    }
}

.page .entry-content
    > *:not(.alignfull):not(.alignwide):not(.alignfeatured):not(.alignnarrow) {
    width: min(var(--content-width), 100% - 2 * var(--gutter));
    margin-inline: auto;
}

.single-course .entry-content
    > *:not(.alignfull):not(.alignwide):not(.alignfeatured):not(.alignnarrow) {
    width: min(var(--content-width), 100% - 2 * var(--gutter));
    margin-inline: auto;
}


.content-width.content-width {
    margin-left: unset;
	margin-right: unset;
	max-width: unset;
    width: min(var(--content-width), 100% - 2 * var(--gutter));
    margin-inline: auto;
}

.site-content {
    // overflow-x: hidden;
}